* {

}
header, .header {
  margin: 0;
  background-color: #EFF3F5;
}

body, .body {
  margin: 0;
  background-color: #EFF3F5;
  background-image: url("lchLogo.png");
  background-repeat: repeat-x repeat-y;
  background-size: 100px 100px;
}

p, .p {
  font-color: black;
}

.container{
  height: auto;
  width: 100%;
  background-color: inherit;
}

#logo {
  padding: 25px 50px 25px;
}

#map {
  margin: 0;
  width: 100%;
  background-color: inherit;
}


.flex {
  display: flex;
  gap: var( 3 em, 1 rem);
}

.primary-header {
  alight-items: center;
  justify-content: space-between;
}

#primary-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  font-color: blue;
}

h2, .h2 {
  text-shadow: 2px 2px #ffe5e5;
  font-weight: bold;
  font-family: font-family: Garamond, serif;
}

#ul {
  background: #ffe5e5;
  color: darkred;
  padding: 5px;
  margin-left: 35px;
  margin-right: 35px;
}
