

* {

}

body {
  background-color: darkgrey;
}

#map {
  height: 300px;
}

.container{
  height: auto;
  width: 100%;
  background-color: blue;
}

.main-nav{

}

li {
  list-style-type: square;
  font-family: verdana;
  font-color: white;
}
