* {

}

body {
  margin: 0;
  background-color: ivory;
}

#map {
  height: 500px;
}

.container{
  height: auto;
  width: 100%;
  background-color: inherit;
}

.flex {
  display: flex;
  gap: var( , 1 rem);
}

.primary-header {
  alight-items: center;
  justify-content: space-between;
}

.primary-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
}

#main-nav{
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: Montserrat,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-weight: 700;
}

#ul {
  background: #ffe5e5;
  color: darkred;
  padding: 5px;
  margin-left: 35px;
  margin-right: 35px;
}
